.title-editor {
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 16px;
}

.btn-article {
    margin-top: 16px;
    margin-bottom: 10px;
    background-color: $action-color;
    border: none;
    color: $white-color;
    width: 100px;
    height: 36px;
    border-radius: 4px;
}

.author-component {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    .MuiInputBase-root {
        height: 35px;
    }

    .MuiFormControl-root {
        margin: 0;
    }
}

.publish-container {
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 16px;
    .publish-container-header {
        padding-left: 10px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

        .publish-container-header-text {
            font-size: 16px;
            margin-top: 8px;
        }
    }
    .publish-container-body {
        padding: 10px;
        .publish-container-body-draft {
            display: flex;
            justify-content: space-between;
            padding-top: 5px;
            margin-bottom: 10px;
        }
        .publish-container-body-status {
            margin-top: 24px;

            .icon-publish {
                margin-right: 16px;
                color: $gray-dark;
            }

            .span {
                color: $gray-dark;
            }

            .span-edit {
                margin-left: 16px;
                text-decoration: underline;
                color: $action-color;
            }
        }
    }

    .publish-container-footer {
        background-color: #f6f7f7;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
    }
}

.container-form-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .label-modal {
        margin-left: 24px;
    }

    .btn-modal {
        border: 1px solid #2271b1;
        background: #f6f7f7;
        color: #2271b1;
        border-radius: 4px;
        height: 30px;
        margin-top: 24px;
    }
}
