.btn-action-transparent {
    border: 1px solid #2271b1;
    background: #f6f7f7;
    color: #2271b1;
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-publish {
    background: #2271b1;
    color: #fff;
    border-radius: 4px;
    padding: 3px 10px;
    border: none;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

div#cke_1_contents {
    min-height: 500px;
}
