$cta: "#0172aa";
$background: #22272F;
$table-border: rgba(0,0,0,.1);
$primary-color: #BDBEC0;
$alert-color: #ff215c;
$action-color: #2185ff;
$white-color: #ffffff;
$gray-dark: #878889;

$media-x-small: 576px;
$media-medium: 768px;
$media-large: 992px;
$media-extra-large: 1200px;
$media-extra-extra-large: 1400px;