.div-container {
    min-height: calc(100vh - 100px);
    margin-top: 50px;
    overflow-x: auto;

    .listar-articulos-header {
        padding-left: 0;
        .listar-articulos-header-text {
            font-size: 24px;
            text-decoration: underline;
            margin-bottom: 16px;
        }
    }

    .container-btn-search-status {
        display: flex;
        align-items: center;
        padding-left: 0;

        .MuiInputBase-root {
            height: 35px;
        }

        .MuiFormControl-root {
            margin-left: 0;
        }

        .btn-search-status {
            width: 80px;
            height: 35px;
            border-radius: 3px;
            text-transform: capitalize;
            a {
                text-decoration: none;
            }
        }

        .link-search-status {
            color: #2271b1;
            border: 1px solid #2271b1;
            text-decoration: none;
            background: #f6f7f7;
        }
    }

    .container-btn-create-article {
        display: flex;
        justify-content: right;
        padding-right: 0;
        align-items: center;

        .btn-create-article {
            background-color: #4681f4;
            border: none;
            width: 125px;
            height: 35px;

            .link-create-article {
                color: $white-color;
                text-decoration: none;
            }
        }
    }
}

.table-style {
    border: 1px solid $table-border;

    .table-header-col {
    }

    .table-body-col {
    }
}

#icon-modal {
    color: #ff215c;
    border: 2px solid #ff215c;
    border-radius: 50%;
    font-size: 50px;
    margin-left: 141px;
    margin-bottom: 16px;
}

#modal-modal-title {
    font-size: 20px;
    text-align: center;
    color: #5f5c5c;
    margin-bottom: 16px;
}

.text-modal {
    font-size: 12px;
    text-align: center;
    color: #91827c;
}

.button-div {
    display: flex;
    justify-content: space-around;
    margin-top: 36px;

    .button-yes {
        width: 96px;
        height: 36px;
        border-radius: 4px;
        background-color: #ff215c;
        border: none;
        color: #f2f2f2;
    }

    .button-cancel {
        width: 96px;
        height: 36px;
        border-radius: 4px;
        background-color: #c1c1c1;
        border: none;
        color: #f2f2f2;
    }
}
