.div-container {
    min-height: calc(100vh - 100px);
    margin-top: 50px;
    overflow-x: auto;

    .div-button {
        @include position_header;
        justify-content: space-between;

        h1 {
            font-size: 24px;
            text-decoration: underline;
            margin-bottom: 16px;
        }

        button {
            margin-bottom: 10px;
            background-color: $secondary-color;
            border: none;

            .link {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }

    .table-style {
        border: 1px solid $table-border;
    }
}

#icon-modal {
    color: #ff215c;
    border: 2px solid #ff215c;
    border-radius: 50%;
    font-size: 50px;
    margin-left: 141px;
    margin-bottom: 16px;
}


#modal-modal-title {
    font-size: 20px;
    text-align: center;
    color: #5f5c5c;
    margin-bottom: 16px;
}

.text-modal {
    font-size: 12px;
    text-align: center;
    color: #91827c;
}

.button-div {
    display: flex;
    justify-content: space-around;
    margin-top: 36px;

    .button-yes {
        width: 96px;
        height: 36px;
        border-radius: 4px;
        background-color: #ff215c;
        border: none;
        color: #f2f2f2;
    }

    .button-cancel {
        width: 96px;
        height: 36px;
        border-radius: 4px;
        background-color: #c1c1c1;
        border: none;
        color: #f2f2f2;
    }
}
