.div-container {
    min-height: calc(100vh - 100px);
    margin-top: 50px;
    overflow-x: auto;

    .div-button {
        @include position_header;
        justify-content: space-between;

        h1 {
            font-size: 24px;
            text-decoration: underline;
            margin-bottom: 16px;
        }

        button {
            margin-bottom: 10px;
            background-color: $secondary-color;
            border: none;

            .link {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }

    .table-style {
        border: 1px solid $table-border;
    }
}

.button-div {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

    .botton-delete {
        border-radius: 12px;
    }
}
